@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#dropdown-galerias a {
  color: white !important;
}

#dropdown-galerias a:hover {
  color: white !important;
}
#lightbox {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  align-items: center;
  justify-content: center;
  z-index: 50;
}

#lightbox-img {
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 8px;
  transition: opacity 0.3s ease;
}

#lightbox-prev,
#lightbox-next {
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  color: white;
  font-size: 2rem;
  z-index: 100;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.gallery {
  width: 60%;
  margin: 0 auto;        /* centra la columna */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.gallery img {
  width: 100%;           /* ocupa todo el ancho de la columna */
  height: auto;          /* mantiene proporción */
  display: block;
}